.cart {
    padding-top: 120px;
    background: url(../../images/artists/artists-bg.jpg) top no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    min-height: 100vh;
    animation: cart 2s;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
        animation: cartContent 1s;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        animation: cartButtons 1s;
    }
    &__chekout {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__empty {
        text-align: center;
        font-size: 30px;
        color: white;
        text-transform: uppercase;
        margin-bottom: 50px;
        animation: cartContent 1s;
    }
    &__price {
        & div {
            color: #4c5054;
        }
        & p {
            font-size: 24px;
            line-height: 35px;
            letter-spacing: 0.05em;
            color: #ffffff;
        }
    }
    &__back button {
        padding: 10px 66px;
        width: auto;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        &-content {
            display: flex;
            gap: 25px;
            align-items: center;
        }
        &-info {
            display: flex;
            gap: 20px;
            align-items: center;
        }
        &-image {
            height: 142px;
            & img {
                height: 142px;
                width: 145px;
                object-fit: cover;
                border-radius: 17px;
            }
        }
        &-about {
            display: flex;
            flex-direction: column;
            gap: 18px;
            font-size: 24px;
            line-height: 35px;
            letter-spacing: 0.05em;
            color: #ffffff;
        }
        &-size {
            color: #787d82;
        }
        &-cost {
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: #787d82;
        }
        &-price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 465px;
            width: 100%;
            font-size: 24px;
            line-height: 35px;
            letter-spacing: 0.05em;
            color: #ffffff;
        }
        &-amount {
            display: flex;
            align-items: center;
            gap: 25px;
            font-size: 25px;
            & button {
                color: white;
            }
        }
    }
}

@keyframes cart {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes cartContent {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes cartButtons {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 900px) {
    .cart__item-price {
        width: unset;
        max-width: unset;
        gap: 30px;
    }
}

@media (max-width: 736px) {
    .cart__buttons {
        flex-direction: column;
    }
    .cart__back {
        margin-bottom: 20px;
    }
    .cart__chekout {
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 670px) {
    .cart__item {
        flex-direction: column;
        gap: 30px;
        &-content {
            justify-content: center;
        }
        &-price {
            justify-content: center;
        }
    }
    .cart__list {
        gap: 40px;
    }
}

@media (max-width: 403px) {
    .cart__item-about {
        font-size: 20px;
        letter-spacing: unset;
    }
}
