.home {
    padding-top: 90px;
    background: url(../../images/home/home-bg.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    animation: homePage 1.5s;
    color: white;
    z-index: 1;
    &__banner {
        max-width: 470px;
        &-img {
            padding-top: 50px;
            margin-bottom: 25px;
        }
    }
    &__uptitle {
        font-family: "Bebas Neue";
        font-size: 14px;
        letter-spacing: 1em;
        text-transform: uppercase;
    }
    &__title {
        font-family: "Bebas Neue";
        font-size: 72px;
        line-height: 72px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
    }
    &__footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.02);
        backdrop-filter: blur(8px);
        animation: homeFooter 1s;
    }
    &__points {
        padding: 30px 0;
        color: #4c5054;
        display: grid;
        grid-template-columns: repeat(5, 210px);
        justify-content: space-between;
        gap: 45px 20px;
        &-item {
            max-width: 210px;
            font-size: 14px;
            font-family: "Inter", sans-serif;
            padding-left: 15px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;
            & p {
                color: #787d82;
                display: flex;
                gap: 17px;
            }
            &::before {
                content: "";
                height: 8px;
                width: 8px;
                background-color: #dd0808;
                border-radius: 50%;
                position: absolute;
                top: 5px;
                left: 0;
            }
        }
    }
}

@keyframes homePage {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes homeFooter {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 1155px) {
    .home__points {
        grid-template-columns: repeat(3, 215px);
        justify-content: center;
        gap: 45px 90px;
    }
}

@media (max-width: 845px) {
    .home__points {
        grid-template-columns: repeat(2, 215px);
        gap: 45px 50px;
    }
}

@media (max-width: 689px) {
    .home__footer {
        position: unset;
    }
}

@media (max-width: 495px) {
    .home__points {
        grid-template-columns: repeat(1, 1fr);
        &-item {
            max-width: 100%;
        }
    }
    .home__banner {
        text-align: center;
    }
    .home__uptitle {
        letter-spacing: 8px;
    }
    .home__title {
        font-size: 50px;
        line-height: 50px;
    }
}

@media (max-width: 345px) {
    .home {
        &__uptitle {
            letter-spacing: 6px;
        }
        &__title {
            font-size: 45px;
            line-height: 45px;
        }
    }
}
