.header {
    position: absolute;
    width: 100%;
    padding: 20px 0;
    color: white;
    animation: header 1s;
    z-index: 2;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        & div {
            background: url(../../images/logo.png);
            width: 45px;
            height: 50px;
        }
    }
    &__menu {
        display: flex;
        gap: 140px;
        align-items: center;
    }
    &__list {
        display: flex;
        gap: 45px;
        align-items: center;
        &-item {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1px;
                background-color: transparent;
                transition: 0.4s;
            }

            &:hover {
                &::before {
                    width: 100%;
                    background-color: #fff;
                }
            }

            &.active {
                &::before {
                    width: 100%;
                    background-color: #fff;
                }
            }
        }
    }
    &__cart {
        display: flex;
        gap: 3px;
        align-items: center;
        font-size: 17px;
        &-img {
            width: 24px;
            height: 24px;
            background: url(../../images/cart.svg);
        }
    }
    &__burger {
        width: 30px;
        position: relative;
        display: none;
    }
    &__burger span,
    &__burger::before,
    &__burger::after {
        transform: translate(-50%, -50%);
        width: 100%;
        background-color: white;
        height: 2px;
        position: absolute;
        transition: all 0.3s;
    }
    &__burger::before {
        content: "";
        top: -12px;
    }
    &__burger::after {
        content: "";
        top: 12px;
    }
    &__burger.active span {
        display: none;
    }
    &__burger.active::before {
        top: 50%;
        transform: translate(-50%, 0) rotate(45deg);
    }
    &__burger.active::after {
        top: 50%;
        transform: translate(-50%, 0) rotate(-45deg);
    }
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.301);
        z-index: 1;
    }
}

@keyframes header {
    0% {
        // opacity: 1;
        transform: translateY(-100%);
    }
    100% {
        // opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 816px) {
    .header {
        &__menu {
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            background-color: black;
            height: 100vh;
            max-width: 425px;
            width: 100%;
            gap: 50px;
            justify-content: center;
            transform: translateX(425px);
            transition: all 0.3s;
            z-index: 2;
            &.active {
                transform: translateX(0px);
            }
        }
        &__list {
            flex-direction: column;
        }
        &__burger {
            display: block;
            z-index: 2;
        }
        &__logo {
            z-index: 2;
        }
    }
}
